trainer:
  device: &device cpu
  random_seed: 42
  batch_size_no_grad: 64
  load_model: false

  force_single_token: true
  max_layer: 24

  vocab_file: &vocab_file ~
  conditional_prompt: false

db:
  path: db/vl
  single_lexicon: true
  relation_type_filter: &filter
  vocab_file: *vocab_file

template:
  relation_type_filter: *filter
  path: prompts/vl
  min_length: -1
  max_length: -1
  max_num: -1

lm:
  model_type: 'bert'
  param_name: 'bert-base-cased'
  device: *device

lm2:
  model_type: 'oscar'
  param_name: 'bert-base-cased'
  device: *device

lm3:
  model_type: 'distil_bert'
  param_name: 'bert-base-cased'
  device: *device